.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.card ul {
  list-style-type: none;
  padding: 0;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card {
  background: #ffffff;
  width: 500px;
  padding: 0px 40px;
}

.card ul li p {
  color: #000000;
  width: 100px;
  text-align: left;
}

.card h4{
  color: crimson;
}
span.delete, span.edit {
  font-size: 13px;
  font-weight: 600;
}

span.delete:hover {
  color: red;
}

span.edit:hover {color: #24c124;}
